.dashboard-tab {
  font-size: 18pt;
}

.bp3-tab-list {
  justify-content: center;
}

.top-filtering-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 14px;
}
