.dashboard-tab {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

.bp3-tab-list {
  justify-content: center;
}

.top-filtering-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 14px;
}

// top tracks / top artists
.tile-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

// listening history
.listening-history-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}
