// input groups with buttons
.input-with-button {
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  max-width: max-content;
}
.input-with-button > * {
  margin-inline: 1px;
}

// header styling
.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
