# ignore installed node moduels
/node_modules
/react-app/node_modules
/server/node_modules

# other dependencies
/react-app/.pnp
/react-app/.pnp.js

# testing
/*/coverage

# production
/*/build

# configuration file for push-to-server command
push-to-server.json

# environment variables for server
/server/.env

# python files
/__pycache__
.pyc

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
