.tile-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  align-items: stretch;
}

.logged-in-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logged-in-picture {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.logged-in-text-wrapper {
  margin: 10px;
}

// Workaround to allow tooltips in menus to function properly
.bp3-menu .bp3-popover2-target {
  display: block;
}
