@import '~@blueprintjs/core/lib/scss/variables';

.logged-in-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logged-in-picture {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.logged-in-text-wrapper {
  margin: 10px;
}

// song entry
.song-entry-wrapper {
  display: inline;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 4px;
}
.song-entry-name {
  text-align: left;
  float: left;
  width: 24%;
  margin-right: 3%;
}
.song-entry-artist {
  text-align: left;
  float: left;
  width: 18%;
  margin-right: 3%;
}
.song-entry-album {
  text-align: left;
  float: left;
  width: 28%;
  margin-right: 3%;
}
.song-entry-played-at {
  text-align: left;
  float: left;
  width: 13%;
  margin-right: 3%;
}
.song-entry-duration {
  text-align: left;
  float: left;
  width: 5%;
}

// Workaround to allow tooltips in menus to function properly
.bp3-menu .bp3-popover2-target {
  display: block;
}
