@import '~@blueprintjs/core/lib/scss/variables';

.tile-element {
  width: 200px;
  height: 200px;
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-banner {
  background-color: rgba($dark-gray1, 0.9);
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
}
