@import '~@blueprintjs/core/lib/scss/variables';

.tile-wrapper {
  margin: 7px;
  width: 200px;
  height: 224px;
}

.tile-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  width: 200px;
  height: 200px;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
}

.name-banner {
  background-color: rgba($dark-gray1, 0.9);
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.popover-line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 3px;
}
.popover-label {
  margin-right: 5px;
}
